################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BigNumber/bin
/BigNumber/obj
/BigNumberTests/bin
/BigNumberTests/obj
